@import "tailwindcss";

/* body {
  @apply bg-black text-white font-sans;
  font-optical-sizing: auto;
} */
@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white font-sans;
    font-optical-sizing: auto;
  }
}
